<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Formulaire</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
 integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
 crossorigin=""></script>
</head>
<body>
    <div id="map"></div>

</body>
<script>
    L.tileLayer('http://localhost:6767/france.style.json', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    var map = L.map('map').setView([48.849442, 2.261198], 13);

    var geojsonFeature = {
        "features": [
            {
            "geometry": {
                "coordinates": [
                [
                    2.261142, 
                    48.849462
                ], 
                [
                    2.261184, 
                    48.849512
                ], 
                [
                    2.261516, 
                    48.849887
                ], 
                [
                    2.261701, 
                    48.850097
                ], 
                [
                    2.261847, 
                    48.850316
                ], 
                [
                    2.261923, 
                    48.850423
                ], 
                [
                    2.262087, 
                    48.850699
                ], 
                [
                    2.262199, 
                    48.850952
                ], 
                [
                    2.262288, 
                    48.851297
                ], 
                [
                    2.262338, 
                    48.851712
                ], 
                [
                    2.262497, 
                    48.85266
                ], 
                [
                    2.262513, 
                    48.852724
                ], 
                [
                    2.262559, 
                    48.852864
                ], 
                [
                    2.262666, 
                    48.853229
                ], 
                [
                    2.262825, 
                    48.853585
                ], 
                [
                    2.262993, 
                    48.853857
                ], 
                [
                    2.263435, 
                    48.854575
                ], 
                [
                    2.263608, 
                    48.854796
                ], 
                [
                    2.264031, 
                    48.855268
                ], 
                [
                    2.264407, 
                    48.855607
                ], 
                [
                    2.264738, 
                    48.855846
                ], 
                [
                    2.26486, 
                    48.855926
                ], 
                [
                    2.265142, 
                    48.856112
                ], 
                [
                    2.265607, 
                    48.856349
                ], 
                [
                    2.266093, 
                    48.85655
                ], 
                [
                    2.266171, 
                    48.856582
                ], 
                [
                    2.266237, 
                    48.856603
                ], 
                [
                    2.2663, 
                    48.856624
                ], 
                [
                    2.266408, 
                    48.856662
                ], 
                [
                    2.266535, 
                    48.856703
                ], 
                [
                    2.267018, 
                    48.85683
                ], 
                [
                    2.269307, 
                    48.857307
                ], 
                [
                    2.269399, 
                    48.857326
                ], 
                [
                    2.269993, 
                    48.85745
                ], 
                [
                    2.270107, 
                    48.857472
                ], 
                [
                    2.270307, 
                    48.857516
                ], 
                [
                    2.271922, 
                    48.85784
                ], 
                [
                    2.272471, 
                    48.857999
                ], 
                [
                    2.272568, 
                    48.858025
                ], 
                [
                    2.272805, 
                    48.85807
                ], 
                [
                    2.272926, 
                    48.858094
                ], 
                [
                    2.273357, 
                    48.858177
                ], 
                [
                    2.273422, 
                    48.858188
                ], 
                [
                    2.273495, 
                    48.858195
                ], 
                [
                    2.273564, 
                    48.858199
                ], 
                [
                    2.273631, 
                    48.858202
                ], 
                [
                    2.273709, 
                    48.858203
                ], 
                [
                    2.27418, 
                    48.85818
                ], 
                [
                    2.274298, 
                    48.858175
                ], 
                [
                    2.274403, 
                    48.858174
                ], 
                [
                    2.274606, 
                    48.858238
                ], 
                [
                    2.274693, 
                    48.858268
                ], 
                [
                    2.274802, 
                    48.858307
                ], 
                [
                    2.274951, 
                    48.858331
                ], 
                [
                    2.275146, 
                    48.858399
                ], 
                [
                    2.275196, 
                    48.858417
                ], 
                [
                    2.275689, 
                    48.858613
                ], 
                [
                    2.275761, 
                    48.858639
                ], 
                [
                    2.276923, 
                    48.859072
                ], 
                [
                    2.277204, 
                    48.859181
                ], 
                [
                    2.277399, 
                    48.859256
                ], 
                [
                    2.277498, 
                    48.859293
                ], 
                [
                    2.277828, 
                    48.859413
                ], 
                [
                    2.278012, 
                    48.859477
                ], 
                [
                    2.27883, 
                    48.859688
                ], 
                [
                    2.278983, 
                    48.859723
                ], 
                [
                    2.279275, 
                    48.859794
                ], 
                [
                    2.279481, 
                    48.859845
                ], 
                [
                    2.279714, 
                    48.859911
                ], 
                [
                    2.279907, 
                    48.859955
                ], 
                [
                    2.280613, 
                    48.860126
                ], 
                [
                    2.280922, 
                    48.860195
                ], 
                [
                    2.281075, 
                    48.860232
                ], 
                [
                    2.281185, 
                    48.86027
                ], 
                [
                    2.282263, 
                    48.860636
                ], 
                [
                    2.282353, 
                    48.860666
                ], 
                [
                    2.283315, 
                    48.860983
                ], 
                [
                    2.283391, 
                    48.861008
                ], 
                [
                    2.283558, 
                    48.861061
                ], 
                [
                    2.283857, 
                    48.861157
                ], 
                [
                    2.284104, 
                    48.861238
                ], 
                [
                    2.28423, 
                    48.861279
                ], 
                [
                    2.284294, 
                    48.861299
                ], 
                [
                    2.28496, 
                    48.861526
                ], 
                [
                    2.285066, 
                    48.861561
                ], 
                [
                    2.285764, 
                    48.861797
                ], 
                [
                    2.286116, 
                    48.86191
                ], 
                [
                    2.286374, 
                    48.861949
                ], 
                [
                    2.286533, 
                    48.861996
                ], 
                [
                    2.286715, 
                    48.862073
                ], 
                [
                    2.286932, 
                    48.86219
                ], 
                [
                    2.287015, 
                    48.862266
                ], 
                [
                    2.287161, 
                    48.862467
                ], 
                [
                    2.28755, 
                    48.862734
                ], 
                [
                    2.287876, 
                    48.862959
                ], 
                [
                    2.288104, 
                    48.863053
                ], 
                [
                    2.288173, 
                    48.863082
                ], 
                [
                    2.288389, 
                    48.863179
                ], 
                [
                    2.288559, 
                    48.863224
                ], 
                [
                    2.290524, 
                    48.863746
                ], 
                [
                    2.290644, 
                    48.863779
                ], 
                [
                    2.29083, 
                    48.863828
                ], 
                [
                    2.291322, 
                    48.863959
                ], 
                [
                    2.292869, 
                    48.864371
                ], 
                [
                    2.293207, 
                    48.864455
                ], 
                [
                    2.293208, 
                    48.864541
                ], 
                [
                    2.293205, 
                    48.864556
                ], 
                [
                    2.293194, 
                    48.864567
                ], 
                [
                    2.293115, 
                    48.864614
                ], 
                [
                    2.293275, 
                    48.864658
                ], 
                [
                    2.293306, 
                    48.864667
                ], 
                [
                    2.293585, 
                    48.86474
                ], 
                [
                    2.293628, 
                    48.864831
                ], 
                [
                    2.294052, 
                    48.864925
                ], 
                [
                    2.294144, 
                    48.864869
                ], 
                [
                    2.29442, 
                    48.865005
                ], 
                [
                    2.294465, 
                    48.865027
                ], 
                [
                    2.294725, 
                    48.865155
                ], 
                [
                    2.294793, 
                    48.865189
                ], 
                [
                    2.294944, 
                    48.865271
                ], 
                [
                    2.295651, 
                    48.865626
                ], 
                [
                    2.295798, 
                    48.865701
                ], 
                [
                    2.296206, 
                    48.865911
                ], 
                [
                    2.296269, 
                    48.866105
                ], 
                [
                    2.296612, 
                    48.866479
                ], 
                [
                    2.296662, 
                    48.866534
                ], 
                [
                    2.296709, 
                    48.866579
                ], 
                [
                    2.297559, 
                    48.867395
                ], 
                [
                    2.297615, 
                    48.867449
                ], 
                [
                    2.297656, 
                    48.867483
                ], 
                [
                    2.297882, 
                    48.867673
                ], 
                [
                    2.298614, 
                    48.868286
                ], 
                [
                    2.298662, 
                    48.868327
                ], 
                [
                    2.298726, 
                    48.868377
                ], 
                [
                    2.298792, 
                    48.868413
                ], 
                [
                    2.298908, 
                    48.868547
                ], 
                [
                    2.299046, 
                    48.868642
                ], 
                [
                    2.299118, 
                    48.868685
                ], 
                [
                    2.300348, 
                    48.869503
                ], 
                [
                    2.300391, 
                    48.869531
                ], 
                [
                    2.300777, 
                    48.869767
                ], 
                [
                    2.301004, 
                    48.869907
                ], 
                [
                    2.300988, 
                    48.870056
                ], 
                [
                    2.300986, 
                    48.870123
                ], 
                [
                    2.300976, 
                    48.870257
                ], 
                [
                    2.300959, 
                    48.870481
                ], 
                [
                    2.300952, 
                    48.870563
                ], 
                [
                    2.300913, 
                    48.870986
                ], 
                [
                    2.300901, 
                    48.871155
                ], 
                [
                    2.300884, 
                    48.87139
                ]
                ], 
                "type": "LineString"
            }, 
            "properties": {
                "prop0": "value0", 
                "prop1": 0.0
            }, 
            "type": "Feature"
            }, 
            {
            "geometry": {
                "coordinates": [
                [
                    2.300884, 
                    48.87139
                ], 
                [
                    2.300884, 
                    48.87139
                ]
                ], 
                "type": "LineString"
            }, 
            "properties": {
                "prop0": "value0", 
                "prop1": 0.0
            }, 
            "type": "Feature"
            }, 
            {
            "geometry": {
                "coordinates": [
                [
                    2.343213, 
                    48.865545
                ], 
                [
                    2.343213, 
                    48.865545
                ]
                ], 
                "type": "LineString"
            }, 
            "properties": {
                "prop0": "value0", 
                "prop1": 0.0
            }, 
            "type": "Feature"
            }
        ], 
        "type": "FeatureCollection"
        }


    var myStyle = {
        "color": "#ff7800",
        "weight": 5,
        "opacity": 0.5
    };

    L.geoJSON(myLines, {
        style: myStyle
    }).addTo(map);
</script>
</html>